body {
	background-color: #B2BFB4;
}

a {
	cursor: pointer;
}

/*
* Override Boostrap to remove horizontal scrollbar.
*/
.row {
	margin-left: 0px;
	margin-right: 0px;
}

.no-whitespace-wrap {
	white-space: nowrap;
}

.allow-whitespace-wrap {
	white-space: normal;
}

.tournament-info img {
	height: auto;
	width: 100%;
}