<!--
	source: http://www.freeformatter.com/iso-country-list-html-select.html
-->
<select class="form-control" 
		ng-init="regform.nation='Norway'"
		ng-model="regform.nation">
	<option ng-value="'AFG'">Afghanistan</option>
	<option ng-value="'ALA'">Åland Islands</option>
	<option ng-value="'ALB'">Albania</option>
	<option ng-value="'DZA'">Algeria</option>
	<option ng-value="'ASM'">American Samoa</option>
	<option ng-value="'AND'">Andorra</option>
	<option ng-value="'AGO'">Angola</option>
	<option ng-value="'AIA'">Anguilla</option>
	<option ng-value="'ATA'">Antarctica</option>
	<option ng-value="'ATG'">Antigua and Barbuda</option>
	<option ng-value="'ARG'">Argentina</option>
	<option ng-value="'ARM'">Armenia</option>
	<option ng-value="'ABW'">Aruba</option>
	<option ng-value="'AUS'">Australia</option>
	<option ng-value="'AUT'">Austria</option>
	<option ng-value="'AZE'">Azerbaijan</option>
	<option ng-value="'BHS'">Bahamas</option>
	<option ng-value="'BHR'">Bahrain</option>
	<option ng-value="'BGD'">Bangladesh</option>
	<option ng-value="'BRB'">Barbados</option>
	<option ng-value="'BLR'">Belarus</option>
	<option ng-value="'BEL'">Belgium</option>
	<option ng-value="'BLZ'">Belize</option>
	<option ng-value="'BEN'">Benin</option>
	<option ng-value="'BMU'">Bermuda</option>
	<option ng-value="'BTN'">Bhutan</option>
	<option ng-value="'BOL'">Bolivia, Plurinational State of</option>
	<option ng-value="'BES'">Bonaire, Sint Eustatius and Saba</option>
	<option ng-value="'BIH'">Bosnia and Herzegovina</option>
	<option ng-value="'BWA'">Botswana</option>
	<option ng-value="'BVT'">Bouvet Island</option>
	<option ng-value="'BRA'">Brazil</option>
	<option ng-value="'IOT'">British Indian Ocean Territory</option>
	<option ng-value="'BRN'">Brunei Darussalam</option>
	<option ng-value="'BGR'">Bulgaria</option>
	<option ng-value="'BFA'">Burkina Faso</option>
	<option ng-value="'BDI'">Burundi</option>
	<option ng-value="'KHM'">Cambodia</option>
	<option ng-value="'CMR'">Cameroon</option>
	<option ng-value="'CAN'">Canada</option>
	<option ng-value="'CPV'">Cape Verde</option>
	<option ng-value="'CYM'">Cayman Islands</option>
	<option ng-value="'CAF'">Central African Republic</option>
	<option ng-value="'TCD'">Chad</option>
	<option ng-value="'CHL'">Chile</option>
	<option ng-value="'CHN'">China</option>
	<option ng-value="'CXR'">Christmas Island</option>
	<option ng-value="'CCK'">Cocos (Keeling) Islands</option>
	<option ng-value="'COL'">Colombia</option>
	<option ng-value="'COM'">Comoros</option>
	<option ng-value="'COG'">Congo</option>
	<option ng-value="'COD'">Congo, the Democratic Republic of the</option>
	<option ng-value="'COK'">Cook Islands</option>
	<option ng-value="'CRI'">Costa Rica</option>
	<option ng-value="'CIV'">Côte d'Ivoire</option>
	<option ng-value="'HRV'">Croatia</option>
	<option ng-value="'CUB'">Cuba</option>
	<option ng-value="'CUW'">Curaçao</option>
	<option ng-value="'CYP'">Cyprus</option>
	<option ng-value="'CZE'">Czech Republic</option>
	<option ng-value="'DNK'">Denmark</option>
	<option ng-value="'DJI'">Djibouti</option>
	<option ng-value="'DMA'">Dominica</option>
	<option ng-value="'DOM'">Dominican Republic</option>
	<option ng-value="'ECU'">Ecuador</option>
	<option ng-value="'EGY'">Egypt</option>
	<option ng-value="'SLV'">El Salvador</option>
	<option ng-value="'GNQ'">Equatorial Guinea</option>
	<option ng-value="'ERI'">Eritrea</option>
	<option ng-value="'EST'">Estonia</option>
	<option ng-value="'ETH'">Ethiopia</option>
	<option ng-value="'FLK'">Falkland Islands (Malvinas)</option>
	<option ng-value="'FRO'">Faroe Islands</option>
	<option ng-value="'FJI'">Fiji</option>
	<option ng-value="'FIN'">Finland</option>
	<option ng-value="'FRA'">France</option>
	<option ng-value="'GUF'">French Guiana</option>
	<option ng-value="'PYF'">French Polynesia</option>
	<option ng-value="'ATF'">French Southern Territories</option>
	<option ng-value="'GAB'">Gabon</option>
	<option ng-value="'GMB'">Gambia</option>
	<option ng-value="'GEO'">Georgia</option>
	<option ng-value="'DEU'">Germany</option>
	<option ng-value="'GHA'">Ghana</option>
	<option ng-value="'GIB'">Gibraltar</option>
	<option ng-value="'GRC'">Greece</option>
	<option ng-value="'GRL'">Greenland</option>
	<option ng-value="'GRD'">Grenada</option>
	<option ng-value="'GLP'">Guadeloupe</option>
	<option ng-value="'GUM'">Guam</option>
	<option ng-value="'GTM'">Guatemala</option>
	<option ng-value="'GGY'">Guernsey</option>
	<option ng-value="'GIN'">Guinea</option>
	<option ng-value="'GNB'">Guinea-Bissau</option>
	<option ng-value="'GUY'">Guyana</option>
	<option ng-value="'HTI'">Haiti</option>
	<option ng-value="'HMD'">Heard Island and McDonald Islands</option>
	<option ng-value="'VAT'">Holy See (Vatican City State)</option>
	<option ng-value="'HND'">Honduras</option>
	<option ng-value="'HKG'">Hong Kong</option>
	<option ng-value="'HUN'">Hungary</option>
	<option ng-value="'ISL'">Iceland</option>
	<option ng-value="'IND'">India</option>
	<option ng-value="'IDN'">Indonesia</option>
	<option ng-value="'IRN'">Iran, Islamic Republic of</option>
	<option ng-value="'IRQ'">Iraq</option>
	<option ng-value="'IRL'">Ireland</option>
	<option ng-value="'IMN'">Isle of Man</option>
	<option ng-value="'ISR'">Israel</option>
	<option ng-value="'ITA'">Italy</option>
	<option ng-value="'JAM'">Jamaica</option>
	<option ng-value="'JPN'">Japan</option>
	<option ng-value="'JEY'">Jersey</option>
	<option ng-value="'JOR'">Jordan</option>
	<option ng-value="'KAZ'">Kazakhstan</option>
	<option ng-value="'KEN'">Kenya</option>
	<option ng-value="'KIR'">Kiribati</option>
	<option ng-value="'PRK'">Korea, Democratic People's Republic of</option>
	<option ng-value="'KOR'">Korea, Republic of</option>
	<option ng-value="'KWT'">Kuwait</option>
	<option ng-value="'KGZ'">Kyrgyzstan</option>
	<option ng-value="'LAO'">Lao People's Democratic Republic</option>
	<option ng-value="'LVA'">Latvia</option>
	<option ng-value="'LBN'">Lebanon</option>
	<option ng-value="'LSO'">Lesotho</option>
	<option ng-value="'LBR'">Liberia</option>
	<option ng-value="'LBY'">Libya</option>
	<option ng-value="'LIE'">Liechtenstein</option>
	<option ng-value="'LTU'">Lithuania</option>
	<option ng-value="'LUX'">Luxembourg</option>
	<option ng-value="'MAC'">Macao</option>
	<option ng-value="'MKD'">Macedonia, the former Yugoslav Republic of</option>
	<option ng-value="'MDG'">Madagascar</option>
	<option ng-value="'MWI'">Malawi</option>
	<option ng-value="'MYS'">Malaysia</option>
	<option ng-value="'MDV'">Maldives</option>
	<option ng-value="'MLI'">Mali</option>
	<option ng-value="'MLT'">Malta</option>
	<option ng-value="'MHL'">Marshall Islands</option>
	<option ng-value="'MTQ'">Martinique</option>
	<option ng-value="'MRT'">Mauritania</option>
	<option ng-value="'MUS'">Mauritius</option>
	<option ng-value="'MYT'">Mayotte</option>
	<option ng-value="'MEX'">Mexico</option>
	<option ng-value="'FSM'">Micronesia, Federated States of</option>
	<option ng-value="'MDA'">Moldova, Republic of</option>
	<option ng-value="'MCO'">Monaco</option>
	<option ng-value="'MNG'">Mongolia</option>
	<option ng-value="'MNE'">Montenegro</option>
	<option ng-value="'MSR'">Montserrat</option>
	<option ng-value="'MAR'">Morocco</option>
	<option ng-value="'MOZ'">Mozambique</option>
	<option ng-value="'MMR'">Myanmar</option>
	<option ng-value="'NAM'">Namibia</option>
	<option ng-value="'NRU'">Nauru</option>
	<option ng-value="'NPL'">Nepal</option>
	<option ng-value="'NLD'">Netherlands</option>
	<option ng-value="'NCL'">New Caledonia</option>
	<option ng-value="'NZL'">New Zealand</option>
	<option ng-value="'NIC'">Nicaragua</option>
	<option ng-value="'NER'">Niger</option>
	<option ng-value="'NGA'">Nigeria</option>
	<option ng-value="'NIU'">Niue</option>
	<option ng-value="'NFK'">Norfolk Island</option>
	<option ng-value="'MNP'">Northern Mariana Islands</option>
	<option ng-value="'NOR'">Norway</option>
	<option ng-value="'OMN'">Oman</option>
	<option ng-value="'PAK'">Pakistan</option>
	<option ng-value="'PLW'">Palau</option>
	<option ng-value="'PSE'">Palestinian Territory, Occupied</option>
	<option ng-value="'PAN'">Panama</option>
	<option ng-value="'PNG'">Papua New Guinea</option>
	<option ng-value="'PRY'">Paraguay</option>
	<option ng-value="'PER'">Peru</option>
	<option ng-value="'PHL'">Philippines</option>
	<option ng-value="'PCN'">Pitcairn</option>
	<option ng-value="'POL'">Poland</option>
	<option ng-value="'PRT'">Portugal</option>
	<option ng-value="'PRI'">Puerto Rico</option>
	<option ng-value="'QAT'">Qatar</option>
	<option ng-value="'REU'">Réunion</option>
	<option ng-value="'ROU'">Romania</option>
	<option ng-value="'RUS'">Russian Federation</option>
	<option ng-value="'RWA'">Rwanda</option>
	<option ng-value="'BLM'">Saint Barthélemy</option>
	<option ng-value="'SHN'">Saint Helena, Ascension and Tristan da Cunha</option>
	<option ng-value="'KNA'">Saint Kitts and Nevis</option>
	<option ng-value="'LCA'">Saint Lucia</option>
	<option ng-value="'MAF'">Saint Martin (French part)</option>
	<option ng-value="'SPM'">Saint Pierre and Miquelon</option>
	<option ng-value="'VCT'">Saint Vincent and the Grenadines</option>
	<option ng-value="'WSM'">Samoa</option>
	<option ng-value="'SMR'">San Marino</option>
	<option ng-value="'STP'">Sao Tome and Principe</option>
	<option ng-value="'SAU'">Saudi Arabia</option>
	<option ng-value="'SEN'">Senegal</option>
	<option ng-value="'SRB'">Serbia</option>
	<option ng-value="'SYC'">Seychelles</option>
	<option ng-value="'SLE'">Sierra Leone</option>
	<option ng-value="'SGP'">Singapore</option>
	<option ng-value="'SXM'">Sint Maarten (Dutch part)</option>
	<option ng-value="'SVK'">Slovakia</option>
	<option ng-value="'SVN'">Slovenia</option>
	<option ng-value="'SLB'">Solomon Islands</option>
	<option ng-value="'SOM'">Somalia</option>
	<option ng-value="'ZAF'">South Africa</option>
	<option ng-value="'SGS'">South Georgia and the South Sandwich Islands</option>
	<option ng-value="'SSD'">South Sudan</option>
	<option ng-value="'ESP'">Spain</option>
	<option ng-value="'LKA'">Sri Lanka</option>
	<option ng-value="'SDN'">Sudan</option>
	<option ng-value="'SUR'">Suriname</option>
	<option ng-value="'SJM'">Svalbard and Jan Mayen</option>
	<option ng-value="'SWZ'">Swaziland</option>
	<option ng-value="'SWE'">Sweden</option>
	<option ng-value="'CHE'">Switzerland</option>
	<option ng-value="'SYR'">Syrian Arab Republic</option>
	<option ng-value="'TWN'">Taiwan, Province of China</option>
	<option ng-value="'TJK'">Tajikistan</option>
	<option ng-value="'TZA'">Tanzania, United Republic of</option>
	<option ng-value="'THA'">Thailand</option>
	<option ng-value="'TLS'">Timor-Leste</option>
	<option ng-value="'TGO'">Togo</option>
	<option ng-value="'TKL'">Tokelau</option>
	<option ng-value="'TON'">Tonga</option>
	<option ng-value="'TTO'">Trinidad and Tobago</option>
	<option ng-value="'TUN'">Tunisia</option>
	<option ng-value="'TUR'">Turkey</option>
	<option ng-value="'TKM'">Turkmenistan</option>
	<option ng-value="'TCA'">Turks and Caicos Islands</option>
	<option ng-value="'TUV'">Tuvalu</option>
	<option ng-value="'UGA'">Uganda</option>
	<option ng-value="'UKR'">Ukraine</option>
	<option ng-value="'ARE'">United Arab Emirates</option>
	<option ng-value="'GBR'">United Kingdom</option>
	<option ng-value="'USA'">United States</option>
	<option ng-value="'UMI'">United States Minor Outlying Islands</option>
	<option ng-value="'URY'">Uruguay</option>
	<option ng-value="'UZB'">Uzbekistan</option>
	<option ng-value="'VUT'">Vanuatu</option>
	<option ng-value="'VEN'">Venezuela, Bolivarian Republic of</option>
	<option ng-value="'VNM'">Viet Nam</option>
	<option ng-value="'VGB'">Virgin Islands, British</option>
	<option ng-value="'VIR'">Virgin Islands, U.S.</option>
	<option ng-value="'WLF'">Wallis and Futuna</option>
	<option ng-value="'ESH'">Western Sahara</option>
	<option ng-value="'YEM'">Yemen</option>
	<option ng-value="'ZMB'">Zambia</option>
	<option ng-value="'ZWE'">Zimbabwe</option>
</select>