<form class="form-horizontal" 
	  role="form" 
	  ng-submit="register(regform)">

	<div class="form-group">
		<label class="col-sm-2 control-label">Lagnavn:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="regform.teamName" id="namesearch" placeholder="Lagets navn" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Spiller 1:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="regform.player1" id="namesearch" placeholder="Fornavn Etternavn" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Spiller 2:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="regform.player2" id="namesearch" placeholder="Fornavn Etternavn" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Spiller 3:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="regform.player3" id="namesearch" placeholder="Fornavn Etternavn" />
		</div>
	</div>

	<br />
	<div class="form-group">
		<div class="col-sm-12"></div>
			<button type="submit" 
					class="btn btn-success btn-lg center-block">
					Registrer {{regform.teamName}}</button>
	</div>
</form>

<div>
	<center>
		<h5 class="text-warning">Obs! Det er kun tillatt med 1 overgang mellom klubber per sesong. Det er lov å melde overgang hele sesongen. Dersom en spiller har meldt overgang til en klubb i november, må han/hun spille for den klubben under klubb-NM, uansett hvilken klubb han er i på det tidspunktet NM arrangeres.</h5>
	</center>
</div>