<form class="form-horizontal" role="form" ng-submit="registerIthfPlayer(regform)">
	
	<div class="panel panel-default">
		<div class="panel-heading">
		<ul class="nav nav-pills">
			<li ng-class="{true: 'active'}[activePage === 'details' || !activePage]">
				<a ng-click="activePage='details'" data-toggle="tab">Details</a>
			</li>
			<li ng-class="{true: 'active'}[activePage === 'information' || !activePage]">
				<a ng-click="activePage='information'" data-toggle="tab">Information</a>
			</li>
			<li ng-class="{true: 'active'}[activePage === 'program' || !activePage]">
				<a ng-click="activePage='program'" data-toggle="tab">Program</a>
			</li>
			<li ng-class="{true: 'active'}[activePage === 'subtournaments' || !activePage]">
				<a ng-click="activePage='subtournaments'" data-toggle="tab">Subtournaments</a>
			</li>
			<li ng-class="{true: 'active'}[activePage === 'registeredplayers' || !activePage]">
				<a ng-click="activePage='registeredplayers'" data-toggle="tab">Registered Players</a>
			</li>
		</ul>
		</div>

		<div class="panel panel-body" ui-view>
			<div ng-include src="'templates/admin/tourform/' + activePage + '.html'"></div>
		</div>
	</div>


	

	<hr/>

	<div class="form-group">
		<div class="col-sm-12">
			<button type="button" class="btn btn-large btn-success pull-right" ng-click="saveTournament(tourform)">Save Tournament</button>
		</div>
	</div>


</form>