<div class="row" ng-show="tournament.image.length > 0">
	<img ng-show="tournament.image"
		 ng-src="{{tournament.image}}" 
		 style="text-align:center; vertical-align:middle; max-width:600px; max-height:600px;"/>
</div>

<div class="row">
	<div class="col-xs-10 col-md-10">
		<table class="table">
			<tr>
				<td>{{'INFO.DATE' | translate}}:</td>
				<td>{{tournament.date | prettyprintDatestamp}}</td>
			</tr>
			<tr>
				<td>{{'INFO.LOCATION' | translate}}:</td>
				<td ng-bind-html="trustHtml(tournament.venue)"></td>
			</tr>
			<tr>
				<td>{{'INFO.REGISTRATION_FEE' | translate}}:</td>
				<td ng-bind-html="trustHtml(tournament.fee)"></td>
			</tr>
			<tr ng-repeat="misc in tournament.misc">
				<td ng-bind-html="trustHtml(misc.item + ':')"></td>
				<td ng-bind-html="trustHtml(misc.value)"></td>
			</tr>
			<tr>
				<td>{{'INFO.CONTACT' | translate}}:</td>
				<td ng-bind-html="trustHtml(tournament.contact)"></td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-10" ng-repeat="section in tournament.details">
		<h3>{{section.title}}</h3>
		<div class="tournament-info" ng-bind-html="trustHtml(section.content)"></div>
	</div>
</div>
		
