<div class="row">
	<div class="col-xs-6 col-md-6">
		<table class="table">
			<tr>
				<td>Dato:</td>
				<td>{{tournament.date | prettyprintDatestamp}}</td>
			</tr>
			<tr>
				<td>Dager igjen:</td>
				<td><div id="dagerIgjen"></div></td>
			</tr>
			<tr>
				<td>Påmeldingsfrist:</td>
				<td>{{tournament.deadline | prettyprintDatestamp}}</td>
			</tr>
			<tr>
				<td>Sted:</td>
				<td>{{tournament.venue}}</td>
			</tr>
			<tr>
				<td>Deltakeravgift:</td>
				<td>{{tournament.fee}}</td>
			</tr>
			<tr ng-repeat="misc in tournament.misc">
				<td>{{misc.item}}:</td>
				<td>{{misc.value}}</td>
			</tr>
			<tr>
				<td>Kontaktperson:</td>
				<td>{{tournament.contact}}</td>
			</tr>
		</table>
	</div>

	<div class="col-xs-4 col-md-4">
	<img ng-src="{{tournament.image}}" 
		 style="text-align:center; vertical-align:middle; max-width:400px; max-height:400px; padding: 50px;"/>
	</div>

</div>

<div class="row">
<div class="col-md-10">
<h3>Informasjon</h3>
{{tournament.details}}
</div>
</div>

<div class="row">
<div class="col-md-10">
<h3>Program</h3>
<table class="table">
	<tbody ng-repeat="day in tournament.program">
		<tr ng-hide="tournament.program.length < 2">
			<td colspan="2"><b>{{day.day}}:</b></td>
		</tr>
		<tr ng-repeat="event in day.events">
			<td>{{event.time}}</td>
			<td>{{event.event}}</td>
		</tr>
	</tbody>

</div>
</div>
		