<div class="panel panel-default">
	<div class="panel-heading">
		<b class="panel-title"><h2><b>{{tournament.name}}</b></h2></b>
		<br />
		<ul class="nav nav-pills">
			<li ng-class="{true: 'active'}[selectedTab === 'info' || !selectedTab]">
				<a ui-sref="tournament.info({tournamentId: tournament.id})"  ng-click="selectedTab='info'" data-toggle="tab">{{'MENU.INFORMATION' | translate}}</a>
			</li>
			<li ng-class="{true: 'active'}[selectedTab === 'program']">
				<a ui-sref="tournament.program({tournamentId: tournament.id})" ng-click="selectedTab='program'" data-toggle="tab">{{'MENU.PROGRAM' | translate}}</a>
			</li>
			<li ng-class="{true: 'active'}[selectedTab === 'players']">
				<a ui-sref="tournament.players" ng-click="selectedTab='players'" data-toggle="tab">{{'MENU.PLAYERS' | translate}}</a>
			</li>
			
			<!-- TODO: Make functionality to add external pages to main menu -->
			<li ng-show="tournament.id === 'nm15'">
				<a href="https://docs.google.com/forms/d/1-rWPLjnYXTv0BNxwyRYazuHNxcFeGsfrYdpixEwDkvQ/viewform">Puck Awards</a>
			</li>

			<li ng-class="{true: 'active'}[selectedTab === 'live']">
				<a ui-sref="tournament.live" ng-click="selectedTab='live'" data-toggle="tab">{{'MENU.LIVE' | translate}}</a>
			</li>
			<li ng-class="{true: 'active'}[selectedTab === 'register']">
				<a ui-sref="tournament.register" ng-click="selectedTab='register'" data-toggle="tab"><b>{{'MENU.REGISTRATION' | translate}}</b></a>
			</li>
		</ul>
	</div>

	<div class="panel panel-body" ui-view></div>
</div>