<div class="row">
	<div class="col-xs-6 col-md-6">
		<table class="table">
			<tr>
				<td>Dato:</td>
				<td>{{tournament.date | prettyprintDatestamp}}</td>
			</tr>
			<tr>
				<td>Dager igjen:</td>
				<td>{{tournament.date | daysUntil}}</td>
			</tr>
			<tr>
				<td>Påmeldingsfrist:</td>
				<td>{{tournament.deadline | prettyprintDatestamp}}</td>
			</tr>
			<tr>
				<td>Sted:</td>
				<td>{{tournament.venue}}</td>
			</tr>
			<tr>
				<td>Deltakeravgift:</td>
				<td>{{tournament.fee}}</td>
			</tr>
			<tr ng-repeat="misc in tournament.misc">
				<td>{{misc.item}}:</td>
				<td>{{misc.value}}</td>
			</tr>
			<tr>
				<td>Kontaktperson:</td>
				<td>{{tournament.contact}}</td>
			</tr>
		</table>
	</div>

	<div class="col-xs-4 col-md-4">
	<img ng-show="tournament.image"
		 ng-src="{{tournament.image}}" 
		 style="text-align:center; vertical-align:middle; max-width:400px; max-height:400px; padding: 50px;"/>
	</div>

</div>

<div class="row">
<div class="col-md-10" ng-repeat="section in tournament.details">
<h3>{{section.title}}</h3>
{{section.content}}
</div>
</div>

<div class="row" ng-show="tournament.program.length > 0">
<div class="col-md-10">
</div>
</div>
		