<select ng-hide="tournament.subtournaments.length <= 1"
		class="form-control"
		ng-model="viewSubTournament"
		ng-options="subtour.name for subtour in tournament.subtournaments"></select>
<br />

<div ng-switch="viewSubTournament.type">
	<div ng-switch-when="individual">
		<div ng-include="'templates/partials/subtournament.individual.html'"></div>
	</div>
	<div ng-switch-when="team_3">
		<div ng-include="'templates/partials/subtournament.team_3.html'"></div>
	</div>

	<div ng-switch-when="team_5">
		<div ng-include="'templates/partials/subtournament.team_5.html'"></div>
	</div>
	<div ng-switch-default>
		Vennligst velg en turnering.
	</div>
</div>
